In [0]:
import pandas as pd

In [2]:
json = open('aluguel.json')
print(json.read())

[{"Tipo":"Quitinete","Bairro":"Copacabana","Quartos":1,"Vagas":0,"Suites":0,"Area":40,"Valor":1700.0,"Condominio":500.0,"IPTU":60.0},
{"Tipo":"Casa","Bairro":"Jardim Bot\u00e2nico","Quartos":2,"Vagas":0,"Suites":1,"Area":100,"Valor":7000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Barra da Tijuca","Quartos":0,"Vagas":4,"Suites":0,"Area":150,"Valor":5200.0,"Condominio":4020.0,"IPTU":1111.0},
{"Tipo":"Apartamento","Bairro":"Centro","Quartos":1,"Vagas":0,"Suites":0,"Area":15,"Valor":800.0,"Condominio":390.0,"IPTU":20.0},
{"Tipo":"Apartamento","Bairro":"Higien\u00f3polis","Quartos":1,"Vagas":0,"Suites":0,"Area":48,"Valor":800.0,"Condominio":230.0,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Vista Alegre","Quartos":3,"Vagas":1,"Suites":0,"Area":70,"Valor":1200.0,"Condominio":null,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Cachambi","Quartos":2,"Vagas":0,"Suites":0,"Area":50,"Valor":1300.0,"Condominio":301.0,"IPTU":17.0},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Barra da Tijuca","Quartos":5,"Vagas":4,"Suites":5,"Area":750,"Valor":22000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Ramos","Quartos":2,"Vagas":2,"Suites":0,"Area":65,"Valor":1000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Centro","Quartos":0,"Vagas":3,"Suites":0,"Area":695,"Valor":35000.0,"Condominio":19193.0,"IPTU":3030.0}]

In [3]:
df_json = pd.read_json('aluguel.json')
df_json

                      Tipo           Bairro  Quartos  ...  Valor  Condominio    IPTU
0                Quitinete       Copacabana        1  ...   1700       500.0    60.0
1                     Casa  Jardim Botânico        2  ...   7000         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca        0  ...   5200      4020.0  1111.0
3              Apartamento           Centro        1  ...    800       390.0    20.0
4              Apartamento     Higienópolis        1  ...    800       230.0     NaN
5              Apartamento     Vista Alegre        3  ...   1200         NaN     NaN
6              Apartamento         Cachambi        2  ...   1300       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca        5  ...  22000         NaN     NaN
8       Casa de Condomínio            Ramos        2  ...   1000         NaN     NaN
9  Conjunto Comercial/Sala           Centro        0  ...  35000     19193.0  3030.0

[10 rows x 9 columns]

In [4]:
txt = open('aluguel.txt')
print(txt.read())

Tipo	Bairro	Quartos	Vagas	Suites	Area	Valor	Condominio	IPTU
Quitinete	Copacabana	1	0	0	40	1700	500	60
Casa	Jardim Botânico	2	0	1	100	7000
Conjunto Comercial/Sala	Barra da Tijuca	0	4	0	150	5200	4020	1111
Apartamento	Centro	1	0	0	15	800	390	20
Apartamento	Higienópolis	1	0	0	48	800	230
Apartamento	Vista Alegre	3	1	0	70	1200
Apartamento	Cachambi	2	0	0	50	1300	301	17
Casa de Condomínio	Barra da Tijuca	5	4	5	750	22000
Casa de Condomínio	Ramos	2	2	0	65	1000
Conjunto Comercial/Sala	Centro	0	3	0	695	35000	19193	3030

In [5]:
df_txt = pd.read_table('aluguel.txt')
df_txt

                      Tipo           Bairro  Quartos  ...  Valor  Condominio    IPTU
0                Quitinete       Copacabana        1  ...   1700       500.0    60.0
1                     Casa  Jardim Botânico        2  ...   7000         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca        0  ...   5200      4020.0  1111.0
3              Apartamento           Centro        1  ...    800       390.0    20.0
4              Apartamento     Higienópolis        1  ...    800       230.0     NaN
5              Apartamento     Vista Alegre        3  ...   1200         NaN     NaN
6              Apartamento         Cachambi        2  ...   1300       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca        5  ...  22000         NaN     NaN
8       Casa de Condomínio            Ramos        2  ...   1000         NaN     NaN
9  Conjunto Comercial/Sala           Centro        0  ...  35000     19193.0  3030.0

[10 rows x 9 columns]

In [7]:
df_xlsx = pd.read_excel('aluguel.xlsx')
df_xlsx

                      Tipo           Bairro  Quartos  ...  Valor  Condominio    IPTU
0                Quitinete       Copacabana        1  ...   1700       500.0    60.0
1                     Casa  Jardim Botânico        2  ...   7000         NaN     NaN
2  Conjunto Comercial/Sala  Barra da Tijuca        0  ...   5200      4020.0  1111.0
3              Apartamento           Centro        1  ...    800       390.0    20.0
4              Apartamento     Higienópolis        1  ...    800       230.0     NaN
5              Apartamento     Vista Alegre        3  ...   1200         NaN     NaN
6              Apartamento         Cachambi        2  ...   1300       301.0    17.0
7       Casa de Condomínio  Barra da Tijuca        5  ...  22000         NaN     NaN
8       Casa de Condomínio            Ramos        2  ...   1000         NaN     NaN
9  Conjunto Comercial/Sala           Centro        0  ...  35000     19193.0  3030.0

[10 rows x 9 columns]

In [10]:
df_html = pd.read_html('dados_html_1.html')
df_html[0]

  FAIXA ETÁRIA UNAFISCO SAÚDE SOFT II SOFT PARTICIPATIVO      UNIQUE
0      00 A 18               R$218,99           R$192,60    R$334,48
1      19 A 23               R$263,63           R$207,67    R$380,06
2      24 A 28               R$322,44           R$224,26    R$464,39
3      29 A 33               R$402,05           R$258,63    R$566,68
4      34 A 38               R$455,17           R$306,37    R$664,61
5      39 A 43               R$489,29           R$417,93    R$742,72
6      44 A 48               R$582,65           R$495,24    R$869,47
7      49 A 53               R$718,86           R$562,64  R$1.046,29
8      54 A 58               R$908,54           R$721,00  R$1.355,74
9   59 OU MAIS             R$1.244,50         R$1.151,62  R$2.003,53

In [11]:
df_html = pd.read_html('https://unafiscosaude.org.br/site/tabelas-de-precos-dos-planos-ativos-para-comercializacao/')
df_html[0]

  FAIXA ETÁRIA UNAFISCO SAÚDE SOFT II SOFT PARTICIPATIVO      UNIQUE
0      00 A 18               R$218,99           R$192,60    R$334,48
1      19 A 23               R$263,63           R$207,67    R$380,06
2      24 A 28               R$322,44           R$224,26    R$464,39
3      29 A 33               R$402,05           R$258,63    R$566,68
4      34 A 38               R$455,17           R$306,37    R$664,61
5      39 A 43               R$489,29           R$417,93    R$742,72
6      44 A 48               R$582,65           R$495,24    R$869,47
7      49 A 53               R$718,86           R$562,64  R$1.046,29
8      54 A 58               R$908,54           R$721,00  R$1.355,74
9   59 OU MAIS             R$1.244,50         R$1.151,62  R$2.003,53

In [0]:
df_html = pd.read_html('https://www.federalreserve.gov/releases/h3/current/default.htm')

In [14]:
len(df_html)

3

In [15]:
df_html[0]

                  Date  ...                                       Reserve balances maintained 4
                  Date  ... Balances maintained that exceed the top of the penalty- free band 6
0              Month 7  ...                                            Month 7
1            Mar. 2019  ...                                            1520371
2            Apr. 2019  ...                                            1416809
3             May 2019  ...                                            1363493
4            June 2019  ...                                            1387832
5            July 2019  ...                                            1365359
6            Aug. 2019  ...                                            1373321
7           Sept. 2019  ...                                            1292273
8            Oct. 2019  ...                                            1333462
9            Nov. 2019  ...                                            1375085
10           Dec. 2019  ...                                            1477528
11           Jan. 2020  ...                                            1486619
12           Feb. 2020  ...                                            1505377
13           Mar. 2020  ...                                            1921000
14                 NaN  ...                                                NaN
15  Two weeks ending 8  ...                                 Two weeks ending 8
16       Feb. 12, 2020  ...                                            1516765
17       Feb. 26, 2020  ...                                            1483463
18       Mar. 11, 2020  ...                                            1562089
19       Mar. 25, 2020  ...                                            1891783
20        Apr. 8, 2020  ...                                            2647180

[21 rows x 7 columns]

In [16]:
df_html[1]

                  Date  ...           Monetary base
                  Date  ... Currency in circulation
0              Month 7  ...                 Month 7
1            Mar. 2019  ...                 1720158
2            Apr. 2019  ...                 1727201
3             May 2019  ...                 1733175
4            June 2019  ...                 1738968
5            July 2019  ...                 1746765
6            Aug. 2019  ...                 1750502
7           Sept. 2019  ...                 1762898
8            Oct. 2019  ...                 1771294
9            Nov. 2019  ...                 1786209
10           Dec. 2019  ...                 1796393
11           Jan. 2020  ...                 1797219
12           Feb. 2020  ...                 1797515
13           Mar. 2020  ...                 1838007
14                 NaN  ...                     NaN
15  Two weeks ending 8  ...      Two weeks ending 8
16       Feb. 12, 2020  ...                 1793507
17       Feb. 26, 2020  ...                 1798541
18       Mar. 11, 2020  ...                 1808763
19       Mar. 25, 2020  ...                 1843441
20        Apr. 8, 2020  ...                 1878945

[21 rows x 9 columns]

In [17]:
df_html[2]

                  Date  ... Nonborrowed reserves 2
                  Date  ... Nonborrowed reserves 2
0              Month 3  ...                Month 3
1            Mar. 2019  ...                1725923
2            Apr. 2019  ...                1623875
3             May 2019  ...                1576254
4            June 2019  ...                1601229
5            July 2019  ...                1578495
6            Aug. 2019  ...                1586727
7           Sept. 2019  ...                1504704
8            Oct. 2019  ...                1547073
9            Nov. 2019  ...                1595196
10           Dec. 2019  ...                1698323
11           Jan. 2020  ...                1715213
12           Feb. 2020  ...                1726939
13           Mar. 2020  ...                2058816
14                 NaN  ...                    NaN
15  Two weeks ending 4  ...     Two weeks ending 4
16       Feb. 12, 2020  ...                1732352
17       Feb. 26, 2020  ...                1709134
18       Mar. 11, 2020  ...                1788384
19       Mar. 25, 2020  ...                2074923
20        Apr. 8, 2020  ...                2517024

[21 rows x 7 columns]